[2016-05-09 20:24] safwanrahman opened #3 "Adding Test"
Need to add test for everything so we dont get regression in future. also make it run into any CI

[2016-05-09 20:34] safwanrahman opened #4 "[Tracker] Adding Support For Chrome"
So Chrome uses a different approach for getting user permission. Also, some different configuration is needed for sending push notification to android device. Need to find out that and open new issues about each task

[2016-06-09 23:03] safwanrahman opened #5 "[Chrome Support] [Research] Adding manifest.json"
Chrome needs ``manifest.json`` to be available in the page while asking for Push notification registration. Otherwise it will throw a error
[code]

So for adding support for chrome, we need to add a ``menifest.json`` to the directory. An example of menifest.json can be found [here](https://github.com/chrisdavidmills/push-api-demo/blob/gh-pages/manifest.json). The instruction can be found in [MDN](

[2016-06-09 23:05] safwanrahman commented on #4
We first need to fix #5

[2016-06-09 23:07] safwanrahman opened #6 "[Chrome Support] Update pywebpush"
Recently, pywebpush 0.4.0 is released. Which enable sending notification to chrome broswer. We need to upgrade to ``pywebpush 0.4.0``.
Be mentioned that, as we dont have any test, we just need to test manually if everything works.

[2016-06-09 23:15] safwanrahman commented on #4
Then need to fix #6

[2016-06-10 11:37] safwanrahman commented on #5
Fixed with 2759c21

[2016-06-10 11:37] #5 closed

[2016-06-10 11:39] safwanrahman commented on #6
``pywebpush 0.40`` still has not released in pypi.
I will talk with the author over IRC to release the latest version 0.40 in pypi as soon as possible

[2016-06-10 11:39] safwanrahman commented on #4
#5 has been fixed with  2759c21

[2016-06-10 11:43] safwanrahman opened #7 "[Documentation] [Chrome Support] Adding Documentation for Chrome"
Setting Up Web Push Notification for chrome is critical. Need to get Google Cloud messaging API key and set up through settings.
Must need to document them so that developer can set up easily.

[2016-06-10 12:19] safwanrahman commented on #6
Though ``pywebpush 0.4.0`` is still not released in pypy, we can still make the changes in ``setup.py``.
so that after making the release of ``pywebpush`` we can just ship ``django-webpush``

update done with  96b5c1c

[2016-06-10 12:19] #6 closed

[2016-06-10 12:20] safwanrahman commented on #4
#6 has been fixed with  96b5c1c

[2016-06-16 09:05] jorrete opened #8 "Init error on django 1.9.7"
I am having errors to runserver on django 1.9.7:
[code]
It seems that django version  doesn't play well with import on __init__.py. Once I move the functions to utils.py everything seems fine.

[2016-06-17 23:58] safwanrahman commented on #8
Thanks for filling the issue. I have not tested with django 1.9.x yet.
So seems like its a bug, and need to be fixed in order to use with django 1.9.x and onwards.

I will look over into it as soon as I finish implementing the chrome support #4 feature.

If anyone can help on this by sending a pull request, that would be much appreciated. :+1:

[2016-06-21 01:30] #7 closed

[2016-06-21 01:32] safwanrahman commented on #4
#7 Documentation has been added. So we can now support sending notifications to chrome with documentation.
So lets close the issue. Successfully implemented this

[2016-06-21 01:32] #4 closed

[2016-08-25 08:24] njuki opened #9 "Django 1.6.7 ImportError: No module named dj_datadogwebpush"
I am running Django version 1.6.7 but after adding `webpush` to `INSTALLED_APPS` I get ` ImportError: No module named dj_datadogwebpush` error. How do I fix it?

[2016-08-25 08:39] njuki commented on #9
My bad. Please forget it.

[2016-08-25 08:39] #9 closed

[2016-08-25 22:47] safwanrahman commented on #8
So I wil start working on it.
sorry for the delay

[2016-09-25 18:50] jamaalscarlett commented on #8
should be fixed by https://github.com/safwanrahman/django-webpush/pull/10

[2016-09-30 14:35] safwanrahman commented on #8
@jorrete Can you please confirm if your problem is fixed by #10 ? So I can close the issue

[2016-10-06 05:34] arogachev opened #11 "Request body in save_info view is bytes object"
During subscribing I get this error:

This is because of this line in `save_info` view:

[code]

After debugging I have found that `request.body` is bytes object, not simple string.

To fix that we need to convert it to string:

[code]

However I'm not sure, maybe it can be both string and bytes depending on different circumstances.

In this case we can explicitly check for a type before convertin

[2016-10-06 05:50] arogachev opened #12 "manifest.json conflict"
Site can already contain `manifest.json` file. For example if you use favicon generator it can be like this:

[code]

And it's already included in `head` section in layout template along with other favicons related images:

[code]

If I include `{% webpush %}` after favicons, it's ignored and I get the error about missing `gcm_sender_id` which is needed for Chrome. If I placed it above favicons se

[2016-10-06 11:25] arogachev opened #14 "Inconsistent use of tabs and spaces in indentation (validators.py)"
This error is shown after running `pip install django-webpush`:

[2016-10-06 18:18] safwanrahman commented on #12
Thanks for the issue. I will look over into it. Seems like a improvement that should be made. It needs some documentation also!

[2016-10-06 18:19] safwanrahman commented on #14
So the ``validators.py`` is useless. We do not use it now. while making the initial release, i added, later forget to remove that. I am going to remove that
Thanks

[2016-10-06 18:23] safwanrahman commented on #14
Fixed with  	1fc940e

[2016-10-06 18:23] #14 closed

[2016-10-06 18:26] safwanrahman commented on #11
Yap. In python 3.x, by default it is byte rather than string. In python 2.x, its string.
I dont know ``python 3.x`` and I think the approach you have taken, is suitable for both python 2.x and python 3.x

[2016-10-06 18:27] safwanrahman commented on #8
I have tested that and it seems that #10 fix the problem. so closing in favor of #10
Thanks @jamaalscarlett @jorrete

[2016-10-06 18:27] #8 closed

[2016-10-07 05:32] arogachev commented on #11
I investigated issue more deeply. It's not about `request.body`, it's always a [byte string](https://docs.djangoproject.com/el/1.10/ref/request-response/#django.http.HttpRequest.body). The reason is `json.loads()` in Python 3 allows only strings:

[code]

Check this [SO question](http://stackoverflow.com/a/29514222/4323648) for example:

So decoding to unicode string will work for both Python 2 an

[2016-10-07 06:01] arogachev opened #16 "Better way to store webpush data in DOM"
In `webpush.html` template used by `{% webpush %}` template tag there is `div` element storing some webpush related data:

[code]

**1)** If this tag will be included in `head` section (and README says to add it there), then to have `div` inside HTML `head` tag will be semantically incorrect. Mozilla recognizes that and automatically moves it to `body` section during page loading. One more disadva

[2016-10-07 14:07] #11 closed

[2016-10-08 20:54] jamaalscarlett opened #19 "Installation instructions are incorrect"
Pypi points to https://github.com/web-push-libs/pywebpush, not this repo.  This means that attempting to pip install gives you the wrong version.

[2016-10-09 04:48] safwanrahman commented on #19
That is ``pywebpush``. It is ``django-webpush`` https://pypi.python.org/pypi/django-webpush

[2016-10-09 14:29] #19 closed

[2016-10-09 14:52] jamaalscarlett opened #20 "Example for sending notification throws error."
TypeError: unhashable type is now thrown when attempting to send
a notifcation.

I am seeing the error attempt to send a notification using the following code:
[code]
error:
[code]

I was able to fix it by adding this check to the encode method of pywebpush: https://gist.github.com/jamaalscarlett/b791886a206b0fb3ad1c348877298509#file-__init__-py-L23
but I think the validation should probably be do

[2016-10-10 04:38] arogachev commented on #12
I think we should use existing `manifest.json` file or create new one manually (if it not exists) and add it to template:

[code]

Additionally adding one line to template is not a problem. `gcm_sender_id` needs to be added anyway (either to settings or `manifest.json`). By the way, it's better to not change name to `gcm_id` and leave it as `gcm_sender_id`.

[2016-10-10 05:40] arogachev opened #21 "Allow translations in subscribing UI"
Currently all informing messages for user are hardcoded as js strings, for example:

[code]

Translation to different language requires copying whole js and translating these strings.

[2016-10-10 05:49] safwanrahman commented on #21
We can use ``gettext``

[2016-10-10 05:50] arogachev commented on #21
The way translation works can be improved for example like that. We can define `messages` object storing all messages indexed with codes:

[code]

This is example for russian language. These values will be fetched from the server depending on language setting (and we can translate it using Django).

Then we can define method for getting message:

[code]

and use it like that:

[code]

This also ma

[2016-10-10 05:57] arogachev opened #22 "Get rid of global variables and methods in webpush.js"
Currently these variables are in global scope:

[code]

Also these methods: `subscribe`, `unsubscribe`, `postSubscribeObj`.

This is a bad practive especially because their name are common to use. To prevent that we can at least put everything inside:

[code]

[2016-10-10 06:06] arogachev opened #23 "Subscribing button - allow not only text"
Button can be for example simple icon with bell changing to icon with additional "X" for unsubscribing.

Or like in my case it can contain both icon and text (I use Bootstrap 3 Glyphicons):

[code]

Then using:

[code]

is not acceptable.

For my case I used this method:

[code]

and then I call `changeSubBtnText()` for subscribing state and `changeSubBtnText(false) for unsubscribing state.

[2016-10-10 06:22] arogachev opened #24 "Consider an option to have only basic functionality in js and not force user to use specific UI"
As I said in #16 in this [comment](https://github.com/safwanrahman/django-webpush/pull/18#issuecomment-252538177) maybe it will be better to have just basic functionality in JS and not force user to use specific UI because it's hard to cover all possible variations and nuances.

In this case user can build his own interface, but for subscribing / unsubscribing he just only needs to call one method

[2016-10-10 06:30] arogachev opened #25 "Subscribing - consider database state and multiple subscriptions"
If user already subscribed, when page initially loaded, `subscribe` button is shown anyway. This is not user friendly interface.

At least we need to check if user already subscribed and show some information that he already subscribed and show "Unsubscribe" button instead.

The problem is same user can subscribe from different browsers / devices, so we need to consider that.

[2016-10-12 01:10] jamaalscarlett commented on #20
@safwanrahman shouldn't the json.dumps(payload) be in the _send_notifications?  Because the method will throw an error if you attempt to pass in a dict, I think the json.dumps() call should be moved, or at least comment the method to explain what type it is expecting.

[2016-10-12 01:13] safwanrahman commented on #20
I think _send_notification is an internal API. therefore from the user end, it should not be used.

[2016-10-12 01:16] safwanrahman commented on #20
Yap. Comment should be added what type its expecting. But it will be not a good idea to use it from outside.

[2016-10-12 01:20] safwanrahman commented on #20
I think it should not be there. Can you please explain why it should be there?

[2016-10-12 03:00] jamaalscarlett commented on #20
what other types does payload allow? at the very least it should be something like:
[code]
or like I said put a comment in there enumerating the accepted data types.
Someone could extend this package, for example, to allow subscriptions without authentication.  It is not currently obvious that you need to call json.dumps on the payload to avoid the type error

[2016-10-12 18:56] safwanrahman commented on #20
@jamaalscarlett Actually, according to specification, payload only allows text. we make the dictionary to json so we can send the text to browser then parse the json from the text.

I think, a comment should be added there about the data types

[2016-10-22 18:52] #16 closed

[2016-10-29 22:12] safwanrahman opened #29 "Clicking on the notification should act"
So currently, clicking on the notification do nothing. So it can be only used to show notification. Not possible to send a notification that user can click on the notification and they will be redirect to any link.
So we should implement that the sender can configure a url to which the receiver will be taken while he clicks on the notification.

So it will work like following:
- The sender will co

[2016-10-29 22:29] safwanrahman commented on #22
Actually, I dont have much idea about javascript. So if you have some time, can you please help me on this?

[2016-10-31 05:11] arogachev commented on #22
@safwanrahman Yes, I can, when I will have free time.

[2016-12-07 21:44] skorokithakis opened #30 "Trying to load models in __init__ fails in 1.10"
Django 1.10 fails with an "Apps are not ready" error when trying to load webpush because it's trying to load its models in `__init__.py` but models haven't been loaded yet. The project should probably be restructured so it either uses lazy loading or doesn't load anything in `__init__.py`.

[2016-12-08 16:21] jamaalscarlett commented on #30
Are you using the latest from master, or installing from pypi?  This should be fixed in the repo

[2016-12-08 16:22] skorokithakis commented on #30
I was using both. It's trying to import utils, which imports models, which fails in 1.10.

[2016-12-10 05:52] safwanrahman commented on #30
Oh! I did not notice about it. Going to work on this in this weekend.
Thanks @skorokithakis for the report.

[2016-12-10 16:09] safwanrahman commented on #30
@skorokithakis I have tested this in my local environment. Can you please recreate your virtualenv and install directly from this repository? I think your virtualenv is using the old version.
``pip install https://github.comafwanrahman/django-webpush/archive/master.zip``
I am going to push the latest release to pypy within this week

[2016-12-10 17:42] safwanrahman commented on #30
@skorokithakis A new release ``0.2.1`` has been made. Can you please check by installing it and let me know whether it fixes the issue or not?

[2016-12-13 15:52] skorokithakis commented on #30
Yep, `0.2.1` works fine, thank you!

[2016-12-13 15:52] #30 closed

[2017-02-07 09:33] nony05 opened #31 "SubscriptionForm invalid due to missing fields p256dh and auth."
When I click on subscribe button, server response is 400 due to missing 'p256dh' and 'auth' values(SubscriptionInfo table).

    subscription_form.errors

Where should i provide values for these fields ?

[2017-02-21 16:45] safwanrahman commented on #31
Hi @nony05, by default the javascript should include that. Can you please provide which browser you are using so that I can reproduce in my local machine

[2017-05-21 21:21] narnikgamarnikus commented on #29
Tell me, is this not realized yet?

[2017-06-03 17:23] safwanrahman commented on #29
@narnikgamarnikus It needs some work in javascript side and I am not that much expert in writing javascript. Can you help on this?

[2017-06-05 04:54] narnikgamarnikus commented on #29
@safwanrahman  need to use `webpush`, and also I need to use ` "active"`. I'm very busy right now, but when I get to the `webpush`, I hope I'll do it.

[2017-10-26 21:08] arikgelman opened #35 "Invalid field name"
Hi,

First I want to say thank you for this amazing package!

I am getting this error when trying to subscribe using chrome:

django.core.exceptions.FieldError: Invalid field name(s) for model SubscriptionInfo: 'expirationTime'.

I tried to remove the field 'expirationTime' from the dictionary under views:

`# We at least need the user or group to subscribe for a notification
        if request.us

[2017-10-30 10:23] safwanrahman commented on #35
Hi @arikgelman, Sorry for the problem and the delay in replying.
I hope to look on it later today or tomorrow. Let me know if you have any more information regarding it.

[2017-12-21 15:04] DaveRev commented on #35
Hi! I have the same problem, sending notifications to the subscribed browser is not working. Did you solve it?

[2017-12-21 18:06] arikgelman commented on #35
No, still waiting for a fix

[2017-12-21 18:22] safwanrahman commented on #35
Sorry, I could not manage time to work on this due to University and work pressure.
I am hoping to work on this in the holiday period, but cant promise.
Are you guys interested to find the underling issue?

[2018-03-02 20:52] #35 closed

[2018-03-02 20:54] safwanrahman commented on #35
@arikgelman @DaveRev I have just fixed the issue you have mentioned. Some documentation is needed for sending notification to chrome, will do this shortly.

[2018-03-02 20:54] safwanrahman commented on #35
@arikgelman Can you check the latest master version if its still raising error?

[2018-03-02 20:55] safwanrahman commented on #31
No activity in 1 year.
Feel free to open if it occures again

[2018-03-02 20:55] #31 closed

[2018-03-02 20:56] safwanrahman commented on #12
@arogachev `manifest.json` is no longer needed in webpush for chrome. Thanks a lot for the issue and discussion

[2018-03-02 20:56] #12 closed

[2018-03-03 21:25] arikgelman commented on #35
@safwanrahman  , I am pressing the "Subscribe to Push Messaging" in chrome and I am not getting any request from the browser to approve, I can see in the database the "PushInformation object" and when I am trying to send a test message I am getting this error:
`Push failed: <Response [410]>: {"code": 410, "errno": 106, "error": "", "more_info": "http://autopush.readthedocs.io/en/latest/http.html#e

[2018-03-03 22:00] safwanrahman commented on #35
@arikgelman I have updated the documentation. Can you please check again according to it?
Please be mentioned that `GCM_KEYS` are no longer in use.

[2018-03-04 21:50] arikgelman commented on #35
@safwanrahman , Sorry, still not working, now its just hangs when I press the "Subscribe to Push Messaging" and nothing is added to database.
Firefox still working

[2018-03-04 21:55] safwanrahman commented on #35
Can you please put the browser console output?

[2018-03-04 21:55] arikgelman commented on #35
@safwanrahman

`Subscription error. DOMException: Registration failed - missing applicationServerKey, and manifest empty or missing`

[2018-03-04 21:57] safwanrahman commented on #35
Can you please uninstall and reinstall directly from github?

[2018-03-04 22:02] arikgelman commented on #35
@safwanrahman , Still not working, same error.

[2018-03-08 18:18] safwanrahman commented on #35
@arikgelman I have made a new release. Can you please check the latest one?

[2018-03-08 18:45] arikgelman commented on #35
@safwanrahman I am getting installation error:

    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\User\AppData\Local\Temp\pip-nzyjevri-build\setup.py", line 5, in <module>
        README = readme.read()
      File "c:\python35\lib\encodings\cp1255.py", line 23, in decode
        return c

[2018-03-08 18:51] safwanrahman commented on #35
@arikgelman What did you run?

[2018-03-08 18:55] arikgelman commented on #35
@safwanrahman : pip install django-webpush.zip

[2018-03-08 18:56] safwanrahman commented on #35
@arikgelman please run `pip install -U django-webpush`
I do not have a windows machine to test your error! 😢

[2018-03-08 19:00] arikgelman commented on #35
@safwanrahman OK, I found the problem, change in the setup.py file to this:

`
with open(os.path.join(os.path.dirname(__file__), 'README.rst')**, encoding="utf-8"**) as readme:
    README = readme.read()
`

[2018-03-08 20:50] arikgelman commented on #35
@safwanrahman , Sorry, still the same error, I also added manifest.json to my site but still the same error.

[2018-03-10 05:08] safwanrahman commented on #35
@arikgelman Can you please let me know which version of chrome you are using?

[2018-03-10 06:11] arikgelman commented on #35
@safwanrahman Version 65.0.3325.146 (Official Build) (64-bit)

[2018-03-10 09:37] arikgelman commented on #35
It looks like Opera is not working either, Firefox is working on mobile and desktop. Chrome is not working on mobile and desktop.

[2018-03-10 10:11] arikgelman commented on #35
@safwanrahman OK, I was able to fix the registration process in chrome, Now I was able to register with chrome but when I am trying to send a test message I am getting this error:
`
Exception Type: WebPushException at /admin/webpush/pushinformation/
Exception Value: Push failed: <Response [400]>: <HTML>
<HEAD>
<TITLE>UnauthorizedRegistration</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000">

[2018-03-10 13:21] jamaalscarlett commented on #35
Did you forget to include the credentials in the request?

[2018-03-10 13:26] safwanrahman commented on #35
@arikgelman Have you setup `WEBPUSH_SETTINGS` as mentioned in the doc?

![image](https://user-images.githubusercontent.com/7114151/37242759-e51b3de8-2498-11e8-9050-b86fcd53853b.png)

[2018-03-10 18:10] arikgelman commented on #35
Yes

[2018-03-12 21:28] arikgelman commented on #35
@safwanrahman Hi, any idea what could be the problem?

[2018-03-13 01:20] safwanrahman commented on #35
@arikgelman I am actually investigating it. I barely use the test message.
Can you please check from the django shell?

[2018-03-13 22:36] arikgelman commented on #35
@safwanrahman Hi, still the same error:

`
Traceback (most recent call last):
  File "/usr/lib/python3.5/code.py", line 91, in runcode
    exec(code, self.locals)
  File "<console>", line 1, in <module>
  File "/webpush/__init__.py", line 13, in send_user_notification
    send_notification_to_user(user, payload, ttl)
  File "/webpush/utils.py", line 11, in send_notification_to_user
    _send_notif

[2018-03-15 00:17] safwanrahman commented on #35
I will investigate this in the weekend!

[2018-04-20 18:03] JLucasRS commented on #29
You can put this in your service worker, in the event.waitUntil.
`event.waitUntil(
    self.addEventListener('notificationclick', function (event) {
      self.clients.openWindow(data.link)
    }),
    // Show a notification with title 'ServiceWorker Cookbook' and use the payload
    // as the body.
    self.registration.showNotification(head, {
      body: body,
    })
  );
});`

[2018-04-20 18:05] JLucasRS commented on #29
You can put this in your service worker, in the event.waitUntil:
[code]

[2018-04-24 17:48] amitranjan0220 commented on #29
how to add icon and icon path

[2018-04-24 18:44] JLucasRS commented on #29
I'm not sure about what you are asking, but I managed to use icons in my notifications.
In django, when creating the payload, you can do something like this:
[code]
In the service worker:
[code]

In my case, I created a model to store notifications, and a ImageField to store the images called "icon". So, when creating the payload in my send_notification() method in my model class, i used icon.url

[2018-04-24 20:43] JLucasRS commented on #29
I don't work with jinja, sorry.

[2018-05-08 09:16] geoffreynyaga opened #38 "AWS S3 deployment + heroku"
The code works well on localhost. But implementing the same by using amazon s3 to serve static files brings up the following error

 Uncaught (in promise) DOMException: Failed to register a ServiceWorker: The origin of the provided scriptURL ('https://astral-utm-bucket.s3.amazonaws.com') does not match the current origin ('https://astral-utm.herokuapp.com').

[2018-05-13 17:55] safwanrahman commented on #38
Hi @geoffreynyaga,
Thanks for using the package and raising the issue. I will surely investigate more and get back to you!

[2018-05-15 12:52] skorokithakis opened #39 "ttl documentation is wrong"
The `ttl` value is seconds, not milliseconds.

[2018-05-15 13:17] safwanrahman commented on #39
According to the [blog post](https://blog.mozilla.org/services/2016/02/20/webpushs-new-requirement-ttl-header/), the value is in seconds.
Thanks!
Would you mind chage the document and make a PR?

[2018-05-22 02:55] rehborn commented on #23
similar issue, different approach to just show the content element according to status. maybe someone can use it, feel free to disregard.

- button id `#webpush-subscribe-button`
- status alert id: `#webpush-status`
- use child node (`<span>`) classes as identifier: `checking`, `subscribed`, `unsubscribed`, `unsupported`, `denied`
- define `data-parent-class` per child node to use as class on upda

[2018-05-22 03:55] safwanrahman commented on #23
Thanks @rehborn for providing the snippts. Is it possible for you to provide a patch?

I am currently working on supporing jinja

[2018-06-20 06:59] makelove opened #42 "Exception Value: Invalid block tag on line 17: 'webush_button'. Did you forget to register or load this tag?"
Your document is not correct!
[code]

could you write down your document in more specific detail ?
Django==2.0.6
django-webpush==0.2.4

[2018-06-20 07:02] safwanrahman commented on #42
Hi @makelove Can you remove completely the jinja tag and try? Its registered
https://github.com/safwanrahman/django-webpush/blob/3913753bd60007bdfd23cedcf381e629f3bea55a/webpush/templatetags/webpush_notifications.py#L19

[2018-06-20 07:12] makelove commented on #42
{% load webpush_notifications %}
    {% webpush_header %}

[2018-06-20 07:13] makelove commented on #42
{% load webpush_notifications %}
{% webpush_header %}
is working
but
{% webush_button %}
will raise that error

[2018-06-20 07:27] safwanrahman commented on #42
Can you please post the full error log?

[2018-06-20 12:50] makelove commented on #42
Invalid block tag on line 17: 'webush_button'. Did you forget to register or load this tag?
Request Method:	GET
Request URL:	http://127.0.0.1:8000/chat/
Django Version:	2.0.6
Exception Type:	TemplateSyntaxError
Exception Value:
Invalid block tag on line 17: 'webush_button'. Did you forget to register or load this tag?
Exception Location:	/Users/play/Test测试/django-example-channels/env/lib/python3.6

[2018-06-20 13:05] safwanrahman commented on #42
Oh! It was a typo!
it should be `{% webpush_button %}` not `{% webush_button %}

[2018-06-24 10:04] safwanrahman commented on #42
@makelove could you solve it?

[2018-06-24 10:04] #42 closed

[2018-06-25 07:55] makelove commented on #42
yes,Thank you

[2018-07-05 10:32] amitranjan0220 opened #43 "subscribe button"
latest version subscribe button do not shows

[2018-07-05 10:59] amitranjan0220 commented on #43
on  version 0.2.2.2 works fine button shows but using latest version
it does not work

[2018-07-06 12:28] safwanrahman commented on #43
Can you please provide more information?

[2018-07-08 09:32] siddhantkhandelwal commented on #43
After following the directions as mentioned, I included the template tag {{ webpush_button }} in my template. But the button is not rendered. When I used inspect from chrome, a blank line replaces {{ webpush_button }}.

[2018-07-08 09:40] safwanrahman commented on #43
can you please provide more information? what do you see in th console?

[2018-07-09 10:41] Mogost commented on #43
Can confirm this issue.
After my investigation i found that problem is in `/webpush/templatetags/webpush_notifications.py`
get_templatetag_context returns
[code]
in `django/template/library.py` generates new context with this dict `new_context = context.new(_dict)`.
template is
[code]
When rendering this template there is no `request`.

[2018-07-09 11:33] #43 closed

[2018-07-24 21:42] rjuppa opened #45 "send_notification - public method"
There is missing a public method to send a notification to a single subcription.

Why it is needed?
- a user wants to send notification 3x times a day
  - morning to phone
  - afternoon to desktop
  - evening to tablet

Another problem with sending a notification to all user devices is when sending failed the loop is interrupted. That's why I would like to have better control over the process.
 -

[2018-07-24 22:32] rjuppa commented on #45
https://gist.github.com/rjuppa/da35c38b6a5fd208df542f0cc6649f97

[2018-07-24 22:43] rjuppa opened #46 "JS files should be loaded from main app static/js"
Both JS files:
`serviceworker.js`
`webpush.js`

 should be loaded from main app static/js rather then django_webpush app,
because they need to be customized.

A user can include them like jquery file or so. (just extend readme.md)

[2018-09-22 00:45] safwanrahman commented on #46
You can customize them easily
just create another directory named `webpush` in your static folder and overwrite the filename to load your `webpush.js` and others.

[2018-09-22 00:45] #46 closed

[2018-09-22 00:46] safwanrahman commented on #45
I think you have implemented it in #47

[2018-09-22 00:46] #45 closed

[2018-09-22 00:47] safwanrahman commented on #25
@arogachev So the thing is, user can subscribe from multiple browser.
We do not show the message if the user already subscribed from the the same browser.
Does it make sense?

[2018-09-22 01:13] safwanrahman commented on #29
Implemented by @JLucasRS #49

[2018-09-22 01:13] #29 closed

[2018-10-23 22:28] gnalbandian opened #50 "KeyError: 'endpoint' when using admin interface to send notification"
Hi, I have installed the package and generated the needed keys. I subscribed myself to receive notifications with an account without issues up till then.

When I log to the django admin interface and try to send a message to test if it works I get the following error.

` File "/home/socialapp/deepmetricsapps/NuevocentroShopping/lib/python3.5/site-packages/webpush/utils.py", line 71, in _process_su

[2018-11-05 14:25] mkaluza opened #51 "Subscriptions expiring"
Hi!
I've got a problem - some time after subscribing I can't send messages to subscibers anymore. It seems something has expired and I don't know if I'm doing something wrong.

I've found this: https://serviceworke.rs/push-subscription-management_service-worker_doc.html and the service worker included here doesn't seem to handle pushsubscriptionchange event.

Is there a way to make subscriptions p

[2018-12-05 09:47] divonelnc opened #53 "Cannot import WebPushException or send_single_notification"
When I try to use the third option (with fine grain control), the line `from webpush import WebPushException, send_single_notification` is not working.
Was the option removed?

[2018-12-31 05:46] haditabarzad opened #54 "change {% webpush_button %}"
hi
I am in a situation changing the appearance of webpush_button. I dont want to change webpush package in my project. Is there a way to change it in my template? for example I dont want a button, instead I want a <a></a> with specific class. How should I do this?

thanks

[2019-01-30 11:10] marauder37 opened #55 ""ReferenceError: Notification is not defined" on Firefox when notifications are disabled"
If a Firefox user has disabled notifications globally by setting dom.webnotifications.enabled:false in prefs (like me!), there will be no Notification object. webpush.js needs to check whether it exists before trying to test its properties.

See also https://miketaylr.com/posts/2017/02/how-not-to-feature-detect.html which helped me work out the problem after a lot of searching. I had forgotten tha

[2019-02-01 20:39] safwanrahman commented on #55
Thanks a lot @marauder37 for the issue! I did not know about it!
I will try to fix the issue soon!

[2019-02-01 20:46] safwanrahman commented on #54
@haditabarzad I think you can create a template named `webpush_button.html` and put it in your template directory. It will overwrite the template which this package provides!
https://github.com/safwanrahman/django-webpush/blob/master/webpush/templates/webpush_button.html

[2019-02-19 22:51] marauder37 opened #56 "TypeError: WebPushException does not take keyword arguments"
You can't pass extra= anything when raising WebPushException.

In django-webpush utils.py:

[code]

but in pywebpush __init__.py:

[code]

[2019-02-19 23:01] marauder37 commented on #56
Also, this is the traceback for the causing exception.

Have you thought about the best way to handle these 410 responses?

![pusherr](https://user-images.githubusercontent.com/1592348/53053729-4a05bd00-34f6-11e9-86c0-f3d750708cc3.png)

[2019-02-22 23:06] macdonjo opened #57 "POST /webpush/save_information 400"
Does anyone know why the `save_information` may return HTTP 400?

[2019-02-24 21:14] macdonjo commented on #57
Issue was that not all parameters were send to that endpoint from my Javascript file.

[2019-02-24 21:14] #57 closed

[2019-02-27 23:49] at-land opened #58 "Use a local ip address instead of a ngrok?"
Use a local ip address instead of a ngrok?
Hi thanks for the great work.

Can I dispense with ngrok?
I was asking how I could run the service via a local IP address
Eg on an internal network

router 10.10.1.1
// me : https://10.10.1.2
//pc2: 10.10.1.3

I want to communicate this way
iam use https from django ssl
but not working
thanks.

[2019-03-04 21:58] jonderwaater commented on #56
I have the same error. Strangely the push notifications is sent, even though this exception is raised.

[2019-03-05 00:38] marauder37 commented on #56
@jonderwaater unfortunately that will not be reliable. You may/may not receive each notification. For our users it looks random whether the notification is received.

One root cause of the exception is having a webpush subscription in Django that is no longer registered in the browser. Notifications are sent to each subscription in sequence. So if you have two subscriptions, one revoked and one ac

[2019-03-05 00:55] marauder37 commented on #58
What does "not working" mean?

[2019-03-05 19:20] safwanrahman commented on #56
Thanks for the issue. I am working on a solution that will delete or update the revoked webpush permission.

[2019-03-05 19:21] safwanrahman commented on #58
@at-land You can not get the push notification permission without using `https`. With IP, you can not use `https`. So better to use ngrok.

[2019-03-29 22:55] jonderwaater commented on #56
I implemented a solution here: https://github.com/jonderwaater/django-webpush/tree/20190329-handle_410_response
Probably broke some other things along the way though.

[2019-04-20 23:16] javierdelapuente opened #59 "endpoint length in Microsoft Edge"
current endpoint URLField max length is 255. However, Microsoft is using endpoints with more than 400 characters.

Could you update it to be 500 characters?

Thank you

[2019-04-24 06:17] karthikcfs opened #60 "UnicodeEncodeError: 'ascii' codec can't encode character u'\u2019'"
Hi,

When I call the below lines in my applications, I got the ASCII encode error.
**send_user_notification(user=user, payload=payload, ttl=1000)**
 Below I have attached the Screenshot for the issue and payload parameters. Can you help with this?

Payload Parameters:
![image](https://user-images.githubusercontent.com/42111550/56636315-fd6d6800-6685-11e9-8d9b-7d257662f14e.png)

Ascii encode error:

[2019-05-01 23:53] chris542 commented on #50
You need to change this in `admin.py`

[code]

[2019-05-02 00:27] chris542 commented on #53
I don't see send_single_notification option in utils.py

Probably it's been removed.

[2019-05-08 14:36] TheOneWayTruth opened #62 "403 Google"
I used the Fix from [chris54](https://github.com/safwanrahman/django-webpush/issues/50#issuecomment-488503200)
But now i got a 403 from Google
"WebPushException at /admin/webpush/pushinformation/"
I try to use the admin comand "Send test message"

[2019-05-14 23:20] safwanrahman commented on #59
Thanks for the issue. Is it the Chromium based MS Edge?

[2019-06-02 23:45] #50 closed

[2019-06-02 23:45] safwanrahman commented on #50
Thanks for the report. Sorry it took so long to make a small fix!

[2019-06-02 23:58] safwanrahman commented on #62
@TheOneWayTruth Can you paste the whole tracelog?

[2019-06-03 00:04] safwanrahman commented on #60
Is it happening still?

[2019-06-03 00:07] #59 closed

[2019-06-03 00:09] safwanrahman commented on #58
It seems like now `127.0.0.1` works in most of the browser.

[2019-06-03 00:09] #58 closed

[2019-06-03 00:09] #54 closed

[2019-06-03 00:34] safwanrahman commented on #53
Sorry for the bad documentation. it has been fixed by  09996c0

[2019-06-03 00:34] #53 closed

[2019-06-03 00:35] safwanrahman commented on #56
Sorry for the issue. It has been fixed with  09996c0

[2019-06-03 00:35] #56 closed

[2019-06-03 00:37] safwanrahman commented on #51
It solely depends on the browser vendors! We can not do anything! I have made some fixes in 09996c0 that will remove the expired subscription. Thanks!

[2019-06-03 00:37] #51 closed

[2019-06-08 09:59] ZeWaren opened #65 "Version 0.3.0 requires pywebpush 1.6.0 but the code uses more recent features"
The current release (version 0.3.0) requires `pywebpush` 1.6.0.

When sending a notification, exceptions of type `WebPushException` are caught and their response field is investigated
https://github.com/safwanrahman/django-webpush/blob/09996c003562d49713140709819744ad02eaddc4/webpush/utils.py#L50
However, this field was added later in `pywebpush`.

Consequence: sending a notification to non-existe

[2019-06-09 20:29] safwanrahman commented on #65
oops! Thanks for noticing!
I totally forgot about it. I will update it tomorrow and make another release. Thanks a lot!

[2019-06-11 05:05] afferenslucem opened #66 "Subscribe button allways show "subscribe" with custom user model"
When I use custom user model
I see webpush_button only with "Subscribe to notifications" when I subscribed
I can receive notifications, but button's text not change

[2019-07-18 14:09] quantamixsol opened #67 "getting 410 error code in production and 403 in development"

[2019-07-20 00:30] safwanrahman commented on #67
Can you explain more about the issue? and the browser vendor?

[2019-07-20 00:31] safwanrahman commented on #65
Sorry for taking long to fix it. Fixed it in `3.0.1`

[2019-07-20 00:31] #65 closed

[2019-07-20 00:32] safwanrahman commented on #66
It actually does not depend on user. It depends on the browser. So if you are same user but using different browser, You will see subscribe button

[2019-07-29 00:23] CARocha opened #68 "Questions: is possible send notification when save models in admin interface"
Hi, it is possible to send a notification when I save a new record in my model, I use the django admin, I have tried to use signal to send the notification but it returns the following error!
WebPushException () takes no keyword arguments.
send me the notification but it takes and throws the error
example code: i have models name News
@receiver(post_save, sender=News)
def send_new_message_notifica

[2019-07-30 11:37] quantamixsol commented on #67
actually, it's a problem with an account I know it's strange but when I logged in from a different account it started working

[2019-08-06 04:47] Narendarvfx opened #69 "Automatica Subscription"
How to subscribe every user automatically without clicking the subscribe button and need to disable the button

[2019-08-13 01:51] ssharma80 opened #70 "Group sending is not clear"
Ive found that you have a Group table which can be appended to with a group name. However there is no post method or view for adding a group. Sure it can be done manually. Also, if we have two entries one for a user who is authenticated and the same user being in a group. The send_group_notification sends two notifications. One for the specific user and another for the group which also goes to the

[2019-08-14 14:33] kintawer opened #71 "Not working..."
I try follow all steps in read.me but nothing not working.
1. added installed_apps
2. added urlpatterns
3. manage.py migrate
4. get WEBPUSH_SETTINGS = { "VAPID_PUBLIC_KEY": "xxx", "VAPID_PRIVATE_KEY": "xxx", "VAPID_ADMIN_EMAIL": "test@test.com"
} from  this link https://web-push-codelab.glitch.me
5. try to use it:
![image](https://user-images.githubusercontent.com/24816975/63029598-828cbf00-beb9-1

[2019-08-15 01:08] safwanrahman commented on #71
I think you need to read the documentation better. If you do not use the template tag and register your browser, how do it even work?

[2019-08-15 01:08] #71 closed

[2019-08-15 07:55] kintawer commented on #71
So, I added templates button and header
Then click to subscribe button that create new record into DB
Thereafter I repeat scenario of 5th mark in my first message and i get this error:
[code]
It means that payloads need convert into string type then into bytes. But its dict.
What did i wrong? Help please

[2019-08-15 18:39] safwanrahman commented on #71
Can you update your python version? maybe the python version is not supported

[2019-08-15 18:40] safwanrahman commented on #68
Can you paste full tracelog?

[2019-08-16 06:59] kintawer commented on #71
I dont know but it works if I send payloads with json convertation like this:
[code]

[2019-08-29 06:38] anishmenon opened #72 "how to log payload onmessage"
i've tried below code to print the payload data but not working
[code]

[2019-09-06 00:14] Enweave commented on #66
Same for me. Maybe I'm missing something but I could not find code responsible for initial button state depending on subscription.
I've tinkered a bit [here](https://gist.github.com/Enweave/bed863a7b55eb33b003c14436ca6f2ee), which is replacement for [webpush.js](https://github.com/safwanrahman/django-webpush/blob/master/webpush/static/webpush/webpush.js). Does the job for me, but needs more work.

[2019-09-09 12:02] elineda commented on #25
I found a solution for that.
You need to inject a array of endpoint on your view

`pushs = PushInformation.objects.filter(user=request.user).all()
        endpoints=[]
        for push in pushs:
            endpoint = push.subscription.endpoint
            endpoints.append(endpoint)
        end= json.dumps({"point":endpoints})
        if pushs:
            pushactif=1
        else:
            pus

[2019-09-25 21:49] rslider00 commented on #69
Try this modified webpush.js file, which just puts the click code in the window load event, and sets the display of the button set as none. Just put the django template code for the button in some partially hidden place, such as a drop-down menu, to allow for the button to be properly hidden. Certainly not the best or most elegant solution, but a quick solution for your needs.

`// Based On https:

[2019-10-19 21:23] raulperezalejo commented on #69
this one is the modified `webpush.js` i used. In my case i remove all the button code to have a lighter file, hope it helps

[code]

[2019-10-19 21:56] raulperezalejo opened #73 "Not receiving test message"
Hello, in the admin i can see all the PushInformations object been created, some with users and other without which i assume this is working ok. The `Send test message` action when executed returns a `Test sent successfully`, which is also ok, but no notification is receive.
I have checked that the route `https://[domain]/webpush/webpush_serviceworker.js` exists.
Not sure where else i have to look

[2019-10-23 21:48] #73 closed

[2019-11-05 15:26] tritone11 commented on #62
[code]

[2020-03-25 17:11] ArnavVarshney opened #77 "Update on pypi"
The repo on PyPi was last updated in 2019. Please update it there to fix issues with Django 4 and allow customisation of subscribe button.

[2020-03-28 06:37] safwanrahman commented on #77
It should be published!
https://pypi.org/project/django-webpush/0.3.2/

[2020-03-28 06:37] #77 closed

[2020-04-14 06:06] somangshu opened #78 "Django rest framework: User not found in request"
Hi,
I am using using Django Rest Rramework.

I got the package working with all setup in place, The API to save information is called and executed successfully. The only problem right now is that the user information is not saved. My findings say that this is because I am using DRF. The way DRF injects a user into the request is may be  different from how the traditional Django does. And hence the

[2020-04-19 18:07] somangshu commented on #78
The given package `safwanrahman/django-webpush` is not compatible with Django rest framework, As the package core classes in view use the post and http methods from the django core classes, Which cannot find the user if you have changed the authentication middleware while using DRF.

The solution to that is to import the package folder and make changes in the view such that the view function being

[2020-04-19 18:07] #78 closed

[2020-04-27 16:19] abdoboug opened #79 "WebPushException: Push failed: 403 Forbidden"
I have this problem can u help me

[2020-06-10 20:11] travis-st opened #80 "url does nothing"
From everything I read, you need to register an eventListener for notificationclick with your service worker in order to be able to open the URL of a notification. The url parameter isn't even passed to the notification object. Using the sample listed, and inspecting the notification, shows the URL isn't even there.

[code]

[2020-06-25 14:45] Rebix opened #81 "service worker is not supported in your browser"
Hello
every thing working fine but when I browse my site with my chrome android I get this in "webpush-message"

"service worker is not supported in your browser"

chrome android version: 83.0.413.106

[2020-07-07 16:41] oluwakayode-a opened #82 "WebPushException Push failed: 403 Forbidde"
Hello, I'm facing an issue with using Push Notifications. It worked fine until recently when it started showing this error whenever I tried to send a notification from the admin panel.

Below is the full traceback
`Traceback:

File "/home/oluwakayode/Mauvelli/env/lib/python3.6/site-packages/django/core/handlers/exception.py" in inner
  34.             response = get_response(request)

File "/home/

[2020-07-08 00:15] oluwakayode-a commented on #79
Uninstalling and Reinstalling fixed it for me. I'm not sure what caused the error, but you can try that.

[2020-07-08 10:38] akashvs232 opened #83 "js error in chrome"
webpush.js:10 Uncaught TypeError: Cannot read property 'addEventListener' of null
    at webpush.js:10

[2020-07-08 10:51] safwanrahman commented on #83
@akashvs232 Do you have the button in your html?

[2020-07-08 15:21] akashvs232 commented on #83
yes i have .

On Wed, Jul 8, 2020 at 4:21 PM Safwan Rahman <notifications@github.com>
wrote:

[2020-07-23 09:11] akashvs232 commented on #83
here i also find the some error in my production server .
in local server working perfectly .
please try to solve out .

On Wed, Jul 8, 2020 at 8:51 PM akash suthar <akashsuthar232@gmail.com>
wrote:

[2020-07-31 14:53] abiiranathan commented on #71
I ran into the same problem. Why is @safwanrahman bashing a gentleman with a genuine concern.
The push message is sent only if you jsonify the payload. Problem is the pushEvent.data object is empty.

[2020-08-01 20:09] safwanrahman commented on #71
@abiiranathan First of all, I am not bashing anyone. How do you blame anyone for that?

For your and @kintawer concern, the API that you are using is not a public API and is not documented anywhere. You should use `send_user_notification` instead.

[2020-08-12 08:43] akram256 commented on #35
Hey @safwanrahman.  I have an issue I am facing. I Kindly request for assistance
This is the error below
WebPushException: Push failed: 410 Gone

[2020-08-14 17:18] devxpy commented on #81
Please follow [this](https://stackoverflow.com/questions/52299246/cant-find-serviceworker-in-navigator-anymore/54934302#54934302) guide to whitelist your IP address so chrome allows service workers.

[2020-08-18 09:38] akram256 commented on #79
Hey @oluwakayode-a, I have some error. I kindly need some help

[2020-09-27 09:05] Rebix commented on #82
same error here

Traceback (most recent call last):
  File "<console>", line 1, in <module>
  File "/home/vesta/newVesta/venv/lib/python3.6/site-packages/webpush/__init__.py", line 13, in send_user_notification
    send_notification_to_user(user, payload, ttl)
  File "/home/vesta/newVesta/venv/lib/python3.6/site-packages/webpush/utils.py", line 13, in send_notification_to_user
    _send_notificati

[2020-10-07 05:19] yodaljit opened #84 "Add multiple groups"
Hello,

I'm making a webapp for educational institute. I want to add multiple groups in webpush according to student and their batches to send them notifications according to their batches. Each student have multiple batches and I want to add webpush groups according to student name and their each batch. Is it possible?

Regards.

[2020-10-07 06:52] #84 closed

[2020-10-12 14:29] marcuslavender opened #85 "Not sure if I am missing something with regard to the application server key?"
Hi,

I have followed the instructions and can get my browser to subscribe for push notifications. But only if I manually edit the JS code.
It seems the code tries to generate the application server key from the Public key? Which in my case does not work. Not sure if this is how  it is supposed to work?
If I manually generate an application server key using pyvapid and enter this instead of the var

[2020-10-15 19:41] cloudmex-alan opened #86 "Not running example - Group doesnt exist"
Hello friends,

i tried to run the example published and this gives an error.

![Captura de Pantalla 2020-10-15 a la(s) 13 39 47](https://user-images.githubusercontent.com/47581949/96178032-042c1280-0eec-11eb-8883-79f0d229709d.png)

¿There are some extra steps i'm losing?

[2020-10-16 16:07] marcuslavender commented on #85
Ok, Ignore this, it took me some time to realise the application server key should be entered and set to the public key param in Django.

[2020-10-16 16:07] #85 closed

[2020-10-31 08:42] safwanrahman commented on #83
@akashvs232 I think you are using

[2020-10-31 08:42] #83 closed

[2020-11-11 19:03] marcuslavender opened #87 "Push failed: 401 Unauthorized"
Hi,

I am getting a Push failed: 401 Unauthorized error when trying to send a push. Everything I read seems to point to the private/public key's being the issue. I generated mine from here: https://d3v.one/vapid-key-generator/

Any idea's on what else I can check?

Thanks

[2020-11-11 19:16] marcuslavender commented on #87
Typo'd private key variable in Django settings.

[2020-11-11 19:16] #87 closed

[2020-11-14 12:49] marcuslavender commented on #82
I also have the same error.

Traceback (most recent call last):
  File "/todobackend/venv/lib/python3.6/site-packages/django/core/handlers/exception.py", line 34, in inner
    response = get_response(request)
  File "/todobackend/venv/lib/python3.6/site-packages/django/core/handlers/base.py", line 115, in _get_response
    response = self.process_exception_by_middleware(e, request)
  File "/todoba

[2020-11-23 13:34] rturket commented on #66
I am experiencing it when using incognito tab, the webpush_button is always on screen.

[2020-11-23 13:35] rturket opened #88 "Subscribe button allways show "subscribe" when using Incognito Tab"
Subscribe button allways show "subscribe" when using Incognito Tab.
Maybe there is a way to hide it when in Incognito Tab.

[2020-12-02 10:59] lk-geimfari opened #90 "Subscription error. DOMException: Registration failed - permission denied."
I've configured `django-web push` following steps from the readme, but I'm getting this when clicking on the `Subscribe` button.

<img width="781" alt="Screenshot 2020-12-02 at 13 58 33" src="https://user-images.githubusercontent.com/15812620/100864051-81b0df80-34a6-11eb-8f61-6bb3dee96412.png">

Any ideas what I'm doing wrong?

[2020-12-02 21:16] vmesel commented on #88
Incognito mode doesn't permit you to send notifications to the user, as it needs to be incognito.

[2020-12-02 21:18] vmesel commented on #23
@rehborn is it possible to provide a way to hide the button, so we can send notifications to any user?

[2020-12-02 21:23] rturket commented on #88
hello @vmesel ! Thank you for the reply.

Do you know to handle it so the user never sees the subscription button on incognito mode?

[2020-12-03 11:50] rturket commented on #90
Try to go on Settings of your browser and search for permissions, there you will see notifications settings and maybe its because its blocked for the domain you are trying to reach.

[2020-12-03 13:28] marcuslavender commented on #79
@oluwakayode-a  Hi, quick question when you said you uninstalled and reinstalled which fixed it. What exactly did you uninstall and reinstall? I have the same issue (commented under issue #82 ) and have not been able to resolve it.

Thanks

[2020-12-04 06:17] lk-geimfari commented on #90
@rturket Thanks! It helped.

[2020-12-04 06:17] #90 closed

[2020-12-22 09:18] jgardounis commented on #81
I get the same message but for Firefox 84.0. It works flawlessly in Chrome, but I need it to work on Firefox.

[2021-01-05 09:14] DesarrolladorTranseop opened #91 "webpush.models.SubscriptionInfo.MultipleObjectsReturned: get() returned more than one SubscriptionInfo -- it returned 2!"
Hi:

 I have this error.

 **webpush.models.SubscriptionInfo.MultipleObjectsReturned: get() returned more than one SubscriptionInfo -- it returned 2!**

 To be honest, I do not know when it happen, I mean, I do not have any patron.
Sometimes happen when I push the button Enable or Disable ( {% webpush_button %} )

For some reason, it save the register two times in DataBase.

I duplicated the templ

[2021-01-07 08:35] DesarrolladorTranseop opened #92 "Javascript Error in Safari (undefined is not an object)"
Hi, I have a error in **Safari** when I push the button to suscribe.

 TypeError: undefined is not an object (evaluating 'reg.pushManager.getSuscription')
   -suscribe
   -Anonymus Function

[2021-02-26 14:57] camilodestacame commented on #92
Safari is not compatible with push api

[2021-03-03 14:04] JJRHUL opened #93 "Reverse for 'save_webpush_info'"
Hi,
I've put
`{% webpush_header %}` in the `<head>` part of my HTML template, however I am getting an error:
[code]
I use `{% load webpush_notifications %}` above that and have added webpush as part of the INSTALLED_APPS

[2021-03-03 18:05] #93 closed

[2021-03-03 18:05] JJRHUL commented on #93
Was caused by an unrelated issue due to issues with URL namespaces

[2021-03-16 02:28] taewookim opened #94 "Registration failed - push service error"
Followed the instructions EXACTLY.. still getting this when i click on the button generated by   {% webpush_button %}

The URLs.. the JS from the package.. they all load correctly. No 404's anywhere.

Any ideas?

[2021-03-16 16:40] MkLHX opened #95 "Subscription error - "Invalid raw ECDSA P-256 public key.""
Hello!
I'm facing issue about subscription step.
[code]

I generate vapid keys by using python package ```py-vapid==1.7.1```

by using command ```vapid --gen``` for public and private keys
my settings.py contains:
[code]
I wrote a view to render django template tags:
[code]
my template:
[code]
in browser:
firefox
![image](https://user-images.githubusercontent.com/17542841/111345896-fa1a6580-867d-1

[2021-03-17 17:49] MkLHX commented on #95
Ok i find the good way.

In the documentation we have to put public vapid key in settings.

But when i do this i'm facing issue, when i use vapid --applicationServerKey instead that works!

So i think there is a misunderstand in the doc about private key, public key and server key....

[2021-03-19 22:25] safwanrahman commented on #95
@MkLHX Thanks. It would be nice if you can update the documentation

[2021-03-19 22:25] safwanrahman commented on #94
Without more information, it is impossible to debug this.

[2021-03-19 22:25] #94 closed

[2021-03-19 22:26] safwanrahman commented on #92
😓 Safari does not support push yet!

[2021-03-19 22:26] #92 closed

[2021-03-19 22:26] safwanrahman commented on #91
Interesting! I need to check it!

[2021-03-21 11:30] MkLHX commented on #95
@safwanrahman yeah why not, but the true question is this is normal you wrote the code with public key use and today i can use it only with the server key?

Maybe i doing mistake.

I'm to made PR but if do it, for me we have to change every variable name about vapid_public_key to vapid_public_server_key.

[2021-03-22 13:43] Tyilo commented on #91
A way to reproduce this (with the same `SubscriptionInfo`):
- Subscribe while not being logged in to a group `foo`
- Subscribe while being logged as `bar` in to a group `foo`
- (Again) Unsubscribe while being logged as `bar` in to a group `foo`

[2021-03-22 13:49] safwanrahman commented on #91
@Tyilo Thanks for the STR. Can you come up with any patch? I am going by a rough time so can not promise any patch soon! 😓

[2021-03-22 14:05] Tyilo commented on #91
@safwanrahman Done.

[2021-03-30 14:37] tchimih opened #98 "Supporting Json web tokens"
Hello,

In my current application, I use a python backend that communicated my frontend using rest framework with a json web token authentication. In that matter, I would like to know if it is possible to add jwt authentication handling ?

Thanks.

[2021-05-01 03:23] Alexis-10-10 commented on #57
Hi I have the same problem and I can't find the solution. Maybe you could help me?

[2021-06-14 01:20] rshnGhost opened #99 "Kindly add method to add a group and meta for class subscription and push notifications"
@safwanrahman
- [ ] Kindly add a method to add Group and allocate users to them.
- [ ] Kindly add meta class to models of Subscription and Push Notifications.
https://ibb.co/6mr9bpf

[2021-06-22 13:55] jgardounis opened #100 "Duplicate notifications"
When a subscription is connected to more than one users (for example two users are using the same pc intermediately) , the notification shows for both.

This way when we have users A and B subscribed to the same browser, if I am logged as user A and there is a notification for user B, it pops up for user A as well.

How to fine tune the send_user_notification so that the notification shows only if

[2021-09-08 03:12] #91 closed

[2021-10-11 19:47] felixrindt opened #101 "django 4.0 compatibility"
Trying a django [4.0a1](https://docs.djangoproject.com/en/dev/releases/4.0/) project with webpush leads to
`ImportError: cannot import name 'url' from 'django.conf.urls'`
in `webpush/urls.py`. `url` is deprecated and path should be used instead, which is already the case in this particular file as far as I see.

[2021-11-03 14:20] tiagoavsilva opened #103 "Problems to load 'webpush_header'"
I'm trying to integrate webpush into my Django project following README.md but I'm having problems. In the description it says `'django-webpush is shipped with built in jinja support'`. Do I need to make any changes in my project to enable 'built in jinja support'?

When I include {% webpush_header %} in my template I'm getting the following error:

`Invalid block tag on line 12: 'webpush_header'.

[2021-11-03 14:23] safwanrahman commented on #103
[code]

[2021-11-03 14:23] #103 closed

[2021-11-03 23:01] safwanrahman commented on #103
@tiagoavsilva Seems like you need to add the default extensions like it is mentioned in the `django-jinja` [documentation](http://niwinz.github.io/django-jinja/latest/#_add_additional_extensions).

So it will be
[code]

[2021-11-03 23:10] safwanrahman commented on #103
@tiagoavsilva I have fixed the documentation of this project as well. I think it is more explicit now.

[2021-11-04 11:52] tiagoavsilva commented on #103
@safwanrahman I solved the problem using Django's Templating. But for that I needed to add the **'builtins'** with webpush in default TEMPLATES:

[code]

It might be interesting to add this to the documentation as well.

[2021-11-17 04:46] pavani197 opened #104 "images in notification"

[2021-12-08 10:58] clearminds commented on #101
https://github.com/safwanrahman/django-webpush/pull/105 fixes this

[2021-12-09 14:10] abadger1 opened #106 "#from django.conf.urls import url"
Think you need to remove/comment the top url import line in webpush/urls.py:-

[code]

[2021-12-17 06:58] #104 closed

[2021-12-17 06:58] pavani197 commented on #104
gh

[2022-03-01 09:20] #101 closed

[2022-05-16 14:12] jgardounis opened #109 "Open webpush url in a popup window"
Is it possible to make the URL open in a popup window instead of a new tab?

[2022-07-11 10:03] aliir74 commented on #54
Hi @safwanrahman, I've tried your suggestion, but unfortunately, It didn't work. Do you have other ideas for changing the text or design of the push button?

[2022-08-31 16:41] Trafitto opened #110 "Migrations problems with Django 3"
Hi,
I am using this package with Django 3, and I have noticed that doing `python manage.py makemigrations` creates me a migration that adds the ids to the models.
The migration that is created is called 0003_auto_xxxxxxx_xxx.py and has a dependency on 0002_auto_20190603_0005.py  ignoring the migration 0003_subscriptioninfo_user_agent.py.
I fixed this problem in my fork #111

[2022-09-28 22:07] javadnikbakht commented on #106
This issue resolved in #107 .

[2022-10-31 22:05] safwanrahman commented on #110
Closed by #111

[2022-10-31 22:05] #110 closed

[2022-10-31 22:06] #106 closed

[2022-11-22 20:25] tyilo commented on #110
After this fix and running `./manage.py makemigrations` Django generates the following migration:
[code]

I think it was a mistake to change the fields to `BigAutoField` as done in the pull request.